@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bootcamp Beanery</h1>
    <p class="lead">Bootcamp Beanery is a coffee supply company. Gathering the best beans from all corners of the flat earth.</p>
    @*<p><a class="btn btn-primary btn-lg" href="/Home/New"></a></p>*@
    <p><a class="btn btn-success btn-lg" href="/Home/New">Register &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Existing Users</h2>
        <p>
            If you are an existing customer click the button below to login. If not click the "Register" button above.
        </p>
        <p><a class="btn btn-default" href="About.cshtml">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Products</h2>
        <p>Click the button below to see a full detailed list of our beans and additional products.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modify Our Product List</h2>
        <p>This is for the Admin only.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Locked &raquo;</a></p>
    </div>
</div>